{% extends "templates/base.html" %}

{% block title %}Инвентарь{% endblock %}


{% block content %}
<div class="row">
  	<div class="row">
  		<div class="col-xs-1 label label-danger">HP {{ char.attrs['hp'] }}/{{ char.attrs['hp_max'] }}</div>
  		<div class="col-xs-1 label label-warning">AP {{ char.attrs['ap'] }}</div>
  		<h3>{{ char.name }}</h3>
  	</div>
    {% if char.worns%}
  	 <div class="row">
	  	 <div class="col-xs-3">
            Одежда:
             {% for w in char.worns %}
    	  	 	<p>{{ w.get().name }}</p>
             {% endfor %}
	  	 </div>
  	</div>
    {% endif %}
  	<!--INVENTORY-->
  	<div class="row">
        {% for i in char.items %}
<div class="col-xs-1"><span class="glyphicon glyphicon-{% if i.type == 0 or i.type == 2 or i.type == 3%}star{%elif i.type == 1%}screenshot{%elif i.type == 4%}glass{%elif i.type == 5%}leaf{%endif%}"></span></div>
        {% if not loop.index is not divisibleby(8) %}
        </div>
<div class="row">
    {% endif%}
  {% endfor %}
</div>
    </div>


<form class="form-horizontal" role="form" method="POST">
    {% for i in items %}
    {% if i%}
    <div class="radio" >
      <label>
        <input type="radio" name="room_item_id" id="item{{ i.key.id() }}" value="{{ i.key.id() }}" {% if loop.first %}checked{% endif %}>
          {{ i.name }}
      </label>
    </div>
    {% endif %}
    {% endfor %}
  <br />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="item_drop" name="item_drop" class="btn btn-default" value="Выкинуть">
      <input type="submit" id="item_puton" name="item_puton" class="btn btn-default" value="Надеть">
    </div>
  </div>
</form>

{% endblock %}