{% extends "templates/base.html" %}

{% block title %}Инвентарь{% endblock %}


{% block content %}
<div class="row">
  	<button type="button" class="btn"><span class="glyphicon glyphicon-move"></span></button><button type="button" class="btn"><span class="glyphicon glyphicon-envelope"></button>
  	<div class="row">
  		<div class="col-xs-1 label label-danger">HP {{ char.attrs['hp'] }}</div>
  		<div class="col-xs-1 label label-primary">MP {{ char.attrs['mp'] }}</div>
  		<div class="col-xs-1 label label-warning">AP {{ char.attrs['ap'] }}</div>
  		{{ char.name }}
  	</div>
  	 <div class="row">
	  	 <div class="col-xs-3">
            Одежда:
             {% for w in char.worns %}
    	  	 	<p>{{ w.get().name }}</p>
             {% endfor %}
	  	 </div>
  	</div>
  	<!--INVENTORY-->
  	<div class="row">
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
</div>
<div class="row">
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
</div>
<div class="row">
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
  <div class="col-xs-1"><span class="glyphicon glyphicon-star"></span></div>
</div>
    </div>


{% endblock %}