{% extends "templates/base.html" %}

{% block title %} {{ room.name }} Комната в Башне{% endblock %}


{% block content %}

<h3>{{ room.name }}</h3>
Вы можете пройти:
<form class="form-horizontal" role="form" method="POST">
    {% for r in room.get_dirs() %}
    <div class="radio" >
      <label>
        <input type="radio" name="room_move_id" id="room{{ r.key.id() }}" value="{{ r.key.id() }}" {% if loop.first %}checked{% endif %}>
          {{ r.name }}
      </label>
    </div>
    {% endfor %}
  <br />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="room_move" name="room_move" class="btn btn-default" value="Идти">
    </div>
  </div>
</form>

{% if room.get_chars() %}
Или можете подраться:
<form class="form-horizontal" role="form" method="POST">
    {% for c in room.get_chars() %}
    {% if c.key != char.key %}
    <div class="radio" >
      <label>
        <input type="radio" name="room_fight_id" id="char{{ c.key.id() }}" value="{{ c.key.id() }}" {% if loop.first %}checked{% endif %}>
          {{ c.name }}
      </label>
    </div>
    {% endif %}
    {% endfor %}
  <br />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" id="room_fight" name="room_fight" class="btn btn-default" value="В бой!">
    </div>
  </div>
</form>
{% endif %}

{% if room.get_items()%}
В комнате есть вещи:
{% for item in room.get_items() %}
    {{ item.name }}
{% endfor %}
{%endif%}

{% endblock %}