{% extends "templates/base.html" %}

{% block title %} {{ room.name }} Комната в Башне{% endblock %}


{% block content %}

<h3>{{ room.name }}</h3>
Вы можете пройти:
<form class="form-horizontal" id="room_move_form" role="form" method="POST">
    {% for r in room.get_dirs() %}
    <div class="radio" >
      <label>
        <input type="radio" id="move{{ r.key.id() }}" value="{{ r.key.id() }}" class="move">
          {{ r.name }}
      </label>
    </div>
  <input type="hidden" id="room_move_id" name="room_move_id" value="">
  <input type="hidden" name="room_move" value="1">
    {% endfor %}
  <br />
</form>

{% if room.get_chars() %}
Или можете подраться:
<form class="form-horizontal"  id="room_fight_form" role="form" method="POST">
    {% for c in room.get_chars() %}
    {% if c.key != char.key %}
        <div class="radio" >
          <label>
            <input type="radio" id="fight{{ c.key.id() }}" value="{{ c.key.id() }}" class="fight">
              {{ c.name }}
          </label>
        </div>
      <input type="hidden" id="room_fight_id" name="room_fight_id" value="">
      <input type="hidden" name="room_fight" value="1">
    {% endif %}
    {% endfor %}
  <br />
</form>
{% endif %}

{% if room.get_items() %}
В комнате разбросаны предметы:
<form class="form-horizontal"  id="room_item_form" role="form" method="POST">
    {% for i in room.get_items() %}
        <div class="radio" >
          <label>
            <input type="radio" id="item{{ i.key.id() }}" value="{{ i.key.id() }}" class="item">
            <img {% if i.name == 'Семечко подсолнуха' %}src="/static/pics/SEED_podsolnuha.bmp" width="16" height="16"
          {% elif i.type == 5 %} src="/static/pics/SEED_nice.bmp" width="16" height="16"
          {% elif i.name == 'Лечилка' %}src="/static/pics/DRINK_heal_small.bmp" width="20" height="20"
          {% elif i.name == 'Мега-лечилка' %}src="/static/pics/DRINK_heal_big.bmp" width="20" height="17"
          {% elif i.name == 'Эссенция бесполезности' %}src="/static/pics/DRINK.bmp" width="16" height="16"
          {% elif i.name == 'Интереснейший хлам' %}src="/static/pics/MISC_hlam.bmp" width="16" height="13"
          {% elif i.name == 'Дубинка радости' %}src="/static/pics/HAND_happy.bmp" width="10" height="29"
          {% elif i.name == 'Меч' %}src="/static/pics/HAND_sword.bmp" width="10" height="29"
          {% else %} src=''{% endif %}/>
           {{ i.name }}
          </label>
        </div>
      <input type="hidden" id="room_item_id" name="room_item_id" value="">
      <input type="hidden" name="room_item" value="1">
    {% endfor %}
  <br />
</form>

{% endif %}


<script>
$('.move').click(function() {
    var room_id = $(this).attr("id").replace('move', '');
    $('input[id=room_move_id]').val(room_id);
    $('#room_move').val(1);
    $('#room_move_form').submit();
});
$('.fight').click(function() {
    var char_id = $(this).attr("id").replace('fight', '');
    $('input[id=room_fight_id]').val(char_id);
    $('#room_fight').val(1);
    $('#room_fight_form').submit();
});
$('.item').click(function() {
    var item_id = $(this).attr("id").replace('item', '');
    $('input[id=room_item_id]').val(item_id);
    $('#room_item').val(1);
    $('#room_item_form').submit();
});
</script>

{% endblock %}