{% extends "templates/base.html" %}

{% block title %}Заявки на турнир{% endblock %}


{% block content %}
<div class="row">
    <table class="table">
        {% for tour in tours %}
            <tr><td>{{ tour.start_dt }}</td>
                {% if not user.tour %}
                <td><button type="button" class="btn"><span class="glyphicon glyphicon-ok"></span></button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if not tours %}
    <button type="button" class="btn">Создать</button>
    {% endif %}
    </div>
{% endblock %}