{% extends "templates/base.html" %}

{% block title %}Заявки на турнир{% endblock %}


{% block content %}
<div class="row">

    {% if tours_cnt > 0 %}
        <legend>Участвовать в турнире</legend>
        <form class="form-horizontal" role="form" method="POST">
            {% for tour in tours %}
            <div class="radio" >
              <label>
                <input type="radio" name="tour_join_id" id="tour{{ tour.key.id() }}" value="{{ tour.key.id() }}"
                  {% if char.level > tour.level_max or char.level < tour.level_min or char.tour %}disabled{% endif %}
                >
                начнется: {{ tour.start_dt }}
                {% for ch in tour.chars_obj %}
                    {{ ch.name }} [{{ ch.level }}]
                {% endfor %}
              </label>
            </div>
            {% endfor %}
          {% if not char.tour %}
          <br />
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" id="tour_join" name="tour_join" class="btn btn-default" value="Присоединиться">
            </div>
          </div>
          {% endif %}
        </form>
    {% endif %}

    {% if not char.tour %}
        <legend>Организовать новый турнир</legend>
        <form class="form-horizontal" role="form" method="POST">
          <div class="form-group">
            <label for="tour_level" class="col-sm-2 control-label">Уровень:</label>
            <div class="col-xs-4">
                <select class="form-control" name="tour_level" id="tour_level">
                  <option selected value="0">Для всех</option>
                  <option>+/-1 уровень</option>
                  <option>Только мой</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="tour_start" class="col-sm-2 control-label">Начало через:</label>
            <div class="col-xs-4">
                <select class="form-control" name="tour_start" id="tour_start">
                  <option selected value="0">3 минуты</option>
                  <option>5 минут</option>
                  <option>10 минут</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" id="tour_add" name="tour_add" class="btn btn-default" value="Создать">
            </div>
          </div>
        </form>
    {% endif %}

</div>
{% endblock %}